:root {
    color-scheme: dark;
    --bc: #7c2d6b;
}

body {
    margin: 0;
    background: #26132e;
}

form {
    display: block;
    width: 100%;
}
fieldset {
    border: 0;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: column;
    user-select: none;
}

button[type=submit] {
    cursor: pointer;
}

.skip {
    flex-direction: row-reverse;
    gap: 0.2rem;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.maze {
    font: 10px/1 Monaco, monospace;
    display: inline-grid;
    user-select: none;
    color: #24584a;
}

.cell {
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    background: #1a1a1a;
    gap: 6px;
}

.inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-around;
    padding: 3px;
    text-align: center;
    aspect-ratio: 1;
}

.inner > * {
    pointer-events: none;
}

.inner > div {
    position: relative;
    z-index: 10;
}

.cell.side .inner::after {
    position: absolute;
    content: '';
    border-radius: 50%;
    background-color: #2463797d;
    inset: 6px;
}

.cell > div:first-child {color: gray}
.cell b:first-child {color: red}
.cell b:last-child {color: green}


.cell.wt {border-top-color: var(--bc)}
.cell.wr {border-right-color: var(--bc)}
.cell.wb {border-bottom-color: var(--bc)}
.cell.wl {border-left-color: var(--bc)}
.cell.random {background-color: #0d1867}
.cell.active {background-color: #293dcb}